<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="ReportsContainer" 
         connectionString="metadata=res://*/DB.SQL.Files.Reports.csdl|res://*/DB.SQL.Files.Reports.ssdl|res://*/DB.SQL.Files.Reports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=idsa-test.mssql.somee.com;initial catalog=idsa-test;user id=idsa_SQLLogin_1;password=eixkc9qxnj;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IdsaTestDB"
         connectionString=
         "metadata=res://*/DB.SQL.Files.Reports.csdl|res://*/DB.SQL.Files.Reports.ssdl|res://*/DB.SQL.Files.Reports.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;Data Source=DERFUW-PC\SQLEXPRESS;Initial Catalog=idsa-test;Integrated Security=True&quot;"
         providerName="System.Data.EntityClient"
         />
  </connectionStrings>
</configuration>